<div id="<%= dom_id faction %>">
  <p>
    <strong>Symbol:</strong>
    <%= faction.symbol %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= faction.name %>
  </p>

  <p>
    <strong>Desctiption:</strong>
    <%= faction.desctiption %>
  </p>

  <p>
    <strong>Headquarters:</strong>
    <%= faction.headquarters_id %>
  </p>

</div>
