<div id="<%= dom_id agent %>">
  <p>
    <strong>User:</strong>
    <%= agent.user_id %>
  </p>

  <p>
    <strong>Symbol:</strong>
    <%= agent.symbol %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= agent.account_id %>
  </p>

  <p>
    <strong>Credits:</strong>
    <%= agent.credits %>
  </p>

  <p>
    <strong>Faction:</strong>
    <%= agent.faction_id %>
  </p>

  <p>
    <strong>Headquarters:</strong>
    <%= agent.headquarters_id %>
  </p>

</div>
