<% content_for :title, "Agents" %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="h3">Agents</h1>
  <%= link_to "New Agent", new_user_agent_path(current_user), class: "btn btn-primary" %>
</div>

<% if @agents.any? %>
  <div class="row g-4">
    <% @agents.each do |agent| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100 shadow-sm">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title mb-3">
              <strong>Symbol: </strong>
              <%= agent.symbol %>
            </h5>
            <span>
              <strong>Credits: </strong>
              <%= number_to_human(agent.credits) %>
            </span>
            <span>
              <strong>Faction: </strong>
              <%= agent.faction.name %>
            </span>
            <span>
              <strong>Created: </strong>
              <%= time_ago_in_words(agent.created_at) %> ago
            </span>
            <div class="mt-2 w-100">
              <%= link_to "Details", agent, class: "btn btn-outline-primary w-100" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-info" role="alert">
    No agents found. <%= link_to "Create one now", new_user_agent_path(current_user), class: "alert-link" %>.
  </div>
<% end %>
