<div id="<%= dom_id system %>">
  <p>
    <strong>Symbol:</strong>
    <%= system.symbol %>
  </p>

  <p>
    <strong>Sector symbol:</strong>
    <%= system.sector_symbol %>
  </p>

  <p>
    <strong>Constellation:</strong>
    <%= system.constellation %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= system.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= system.type %>
  </p>

  <p>
    <strong>X:</strong>
    <%= system.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <%= system.y %>
  </p>

</div>
