<p style="color: green"><%= notice %></p>

<%= render @system %>

<div>
  <%= link_to "Edit this system", edit_system_path(@system) %> |
  <%= link_to "Back to systems", systems_path %>

  <%= button_to "Destroy this system", @system, method: :delete %>
</div>
